.casa {
    color: green;
}

.ospite {
    color: red;
}

.margin {
    margin-bottom: 50px;
}

.text {
    font-size: 30px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}